{% extends "base.html" %}
{% block title %}皖声{% endblock %}
{% block page_content %}
    <div class="page-header">
    <h1>三年多了,但算算我们真正相处的时间其实不长</h1>
        <h2>真正想说的话没有说出口,不过说出来感觉结果也差不多,也没必要说了</h2>
    <h1>有一天你能看到的话,那这个小站没白做</h1>
        <h2>最初想做皖声的想法来自高三,那时候微信小程序刚开放不久</h2>
            <h3>想想也没啥会的,给你做个小程序应该不错</h3>
    </div>
    <div style="display: block;font-size: 25px" align="left">
    {#
    刚来皖院,你跟我说你有男朋友了,真的挺难受的,差不多算是放弃追你了<br>
    后来发生了一些事情,第一反应还是去找你__,<br>
    然后和你的关系也慢慢缓和,此时真的也只是把你朋友看<br>

    可能对你而言,我突然说出那些话有点奇怪<br>
    但老实说我一直憋着呢,从你说他给你戴手链到那周五晚上<br>
    如果说他没女朋友,也没你描述的那么花心,那我就是吃醋,也会支持你<br>
    看的出来,你很喜欢他,和他相处比和我相处快乐的多<br>
    五一他准备来看你,你说打死不回家,脸上那种笑容...<br>
    他来看你,你会精心打扮,买顶帽子,还是那天我陪你去看你的那款,但这些都不会发生在我身上...<br>
    想起选修课你笔画我在你心里的地位,就那么点大...<br>
    想起你随口就能说出我们的交情就到此为止了...玩笑也好,实话也罢<br>
    #}

    <strong>毫无遗憾,绝不后悔</strong>

    </div>
{% endblock %}
{% block navbar %}
    {{ nav.top.render() }}
{% endblock %}
