{% extends "base.html" %}
{% block title %}皖声{% endblock %}
{% block content %}
<div class="container">
    {%  for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button"   class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}
        <div align="center" style="display: block">
            <h1>
                2015.1.25-2018.5.6<br>
                情非不知所起,始于幻想,止于现实<br>
                对,我已做好最坏的打算
            </h1>
        </div>
    {% endblock %}
</div>
{% endblock %}

{% block navbar %}
    {{ nav.top.render() }}
{% endblock %}
